<ul>
	<li>
		<a href="/">Home</a>
	</li>
	<li>
		<a href="/Non-Existing-Resource/">Link to non-existing resource (404)</a>
	</li>
	<li>
		<a href="/Exception/?StatusCode=401">Trigger 401</a>
	</li>
	<li>
		<a href="/Exception/?StatusCode=401&SubStatusCode=2">Trigger 401.2</a>
	</li>
	<li>
		<a href="/Exception/?StatusCode=404">Trigger 404</a>
	</li>
	<li>
		<a href="/Exception/ThrowInvalidOperationException/">Throw invalid-operation-exception</a>
	</li>
</ul>