<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="Home/PathWithLocationElementWithAspNetCoreHandlerInWebConfig">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" modules="AspNetCoreModuleV2" path="*" resourceType="Unspecified" verb="*" />
			</handlers>
		</system.webServer>
	</location>
	<location path="Home/PathWithLocationElementWithoutAspNetCoreHandlerInWebConfig" />
</configuration>