<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="AskForClientCertificate">
		<system.webServer>
			<httpErrors errorMode="Custom" existingResponse="Replace">
				<remove statusCode="403" subStatusCode="16" />
				<error path="/Exception/Catch/?StatusCode=403&amp;SubStatusCode=16" responseMode="ExecuteURL" statusCode="403" subStatusCode="16" />
			</httpErrors>
			<security>
				<access sslFlags="SslNegotiateCert" />
			</security>
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<basicAuthentication enabled="false" />
				<clientCertificateMappingAuthentication enabled="false" />
				<digestAuthentication enabled="false" />
				<iisClientCertificateMappingAuthentication enabled="false" />
				<windowsAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>