<noscript>
	<p>Scripts are not enabled. To clear the cached client-certificate you have to close your browser.</p>
</noscript>
<ul>
	<li>
		<a href="http://localhost:8066/">Home</a>
	</li>
	<li>
		<a href="http://localhost:8066/AskForClientCertificate/">Ask for client-certificate over http - will NOT work</a>
	</li>
	<li>
		<a href="https://localhost:44366/AskForClientCertificate/">Ask for client-certificate over https - will work</a>
	</li>
	<li>
		<a href="#clear-cached-client-certificate" onclick="clearCachedClientCertificate(); return false;">Clear the cached client-certificate</a>
	</li>
</ul>
