<ul>
	<li>
		<a href="http://localhost:8066/">Home</a>
	</li>
	<li>
		<a href="http://localhost:8066/AskForClientCertificate/">Ask for client-certificate over http - will NOT work</a>
	</li>
	<li>
		<a href="https://localhost:44366/AskForClientCertificate/">Ask for client-certificate over https - will work</a>
	</li>
</ul>