@model X509Certificate2
<h2>Client-certificate</h2>
@if(Model != null)
{
	<ul>
		<li>
			<strong>Issuer: </strong>@Model.Issuer
		</li>
		<li>
			<strong>Subject: </strong>@Model.Subject
		</li>
		<li>
			<strong>Thumbprint: </strong>@Model.Thumbprint
		</li>
	</ul>
}
else
{
	<p>NULL</p>
}