<ul>
	<li>
		<a href="http://localhost:8056/">Home</a>
	</li>
	<li>
		<a href="http://localhost:8056/AskForClientCertificate/">Ask for client-certificate over http - will NOT work</a>
	</li>
	<li>
		<a href="https://localhost:44356/AskForClientCertificate/">Ask for client-certificate over https - will work</a>
	</li>
</ul>